*{
    box-sizing: border-box;

    margin:0;

    

    
    
}

body{
    width: 100vw;
    min-height: 200vh;

    overflow-x: hidden;

}


.nav-bar{
    
    
    background-color:#f1bb80;
    position: fixed;
    top:0;
    width: 100vw;
    height: 10vh;


    display: flex;
    flex-direction: row;
    
    
    justify-content: space-around;
    
    z-index: 999;

    

}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* .menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
} */

.menu-content{
    width: 50vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    
}

.menu-content li{
    
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.menu-content li a{

    
    
    color:black;
}

.menu-content li a:hover{
    color:white;
}

.hamburger{
    display: none;
}


@media all and (max-width : 850px){

 

    .logo{

        height:10vh;
        position: absolute;
        left:10px;
    }

    .hamburger{
        display: block;
   
        position: absolute;
        top:4vh;
        right:20px;
        
    }
  

    .hamburger .line{
        display: block;
        background: black;
        
        width: 20px;
        height: 2px; 

        margin-bottom: 3px;
    }
    
    .menu-content{

        width:50%;
        background-color: #eed8c1;
        font-size: 1.5rem;

        height: 90vh;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        
        justify-content: space-around;

        position:absolute;
        top:10vh;
        left:-105vw;
        transition: all 0.5s ease-in-out;
    }

    .menu-content.isactive{

        left:0;
    }

    .menu-content li a:hover{
        color:white;
    }

}


/* here starts the content*/
.main-container{
    width:100vw;
    height:100vh;

    position: absolute;
    top:10vh;
    overflow: hidden;

}

.hero-container{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    position: absolute;
    top:10vh;
    overflow: hidden;
    
}

.video-container{
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -10;

}

.counter-container{
    width: 100vw;
    height: 90vh;

    position: absolute;
    top: 100vh;
    background: linear-gradient(to right, #ff4e50, #f9d423);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.counter-header{
    padding-top: 20vh;

    text-align: center;
}

.counter-main{
    width:80vw;
    height: 50vh;

    background-color:rgb(255,255,255,0);

    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    
    
}

.counter-main .display{
    width:18vw;
    height: 30vh;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;

    overflow: hidden;
}

.counter-main p{
    font-size: 4rem;
}

.time-container{
    width: 100%;
    height: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.time-container.unit{
    background-color:#ECCCB2;
}

.counter-header{
    font-size:xx-large;
}