/* pick the value for the whole webpage */
:root{
    --color1:rgb(34, 40, 49);
    --color2:rgb(57, 62, 70);
    --color3:rgb(0, 173, 181);
    --color4:rgb(238, 238, 238);

}
*{
    box-sizing: border-box;

    margin:0;

    

    
    
}

body{
    width: 100%;
    min-height: 200vh;

    

}


.nav-bar{
    
    
    background:linear-gradient(to right,var(--color4) 50%,var(--color3));
    position: fixed;
    top:0;
    width: 100%;
    height: 10vh;


    display: flex;
    flex-direction: row;
    
    
    justify-content: space-between;
    
    z-index: 999;

    

}
.logo{
  width: 30%;
  text-align: center;
}

.menu{
    width: 70%;
}

.menu-content{
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    
}

.menu-content li{
    
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.menu-content li a{

    
    
    color:black;
}

.menu-content li a:hover{
    color:white;
}

.hamburger{
    display: none;
}


@media all and (max-width : 850px){

 

    .logo{

        height:10vh;
        position: absolute;
        left:10px;
    }

    .hamburger{
        display: block;
   
        position: absolute;
        top:4vh;
        right:20px;
        
    }
  

    .hamburger .line{
        display: block;
        background: black;
        
        width: 20px;
        height: 2px; 

        margin-bottom: 3px;
    }
    
    .menu-content{

        width:50%;
        background-color: #eed8c1;
        font-size: 1.5rem;

        height: 90vh;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        
        justify-content: space-around;

        position:absolute;
        top:10vh;
        left:-100%;
        transition: all 0.5s ease-in-out;
    }

    .menu-content.isactive{

        left:0;
    }

    .menu-content li a:hover{
        color:white;
    }

}


/* here starts the hero-container*/
.main-container{
    width:100%;
    height:100vh;

    position: absolute;
    top:10vh;
    

}

.hero-container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    position: absolute;
    top:10vh;
   
    
}

.video-container{
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -10;

}

/* here starts the Countdown part*/

.counter-container{
    width: 100%;
    height: 90vh;

    position: absolute;
    top: 100vh;
    background: linear-gradient(to right, var(--color3),var(--color1));

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.counter-header{
    padding-top: 20vh;

    text-align: center;
}

.counter-main{
    width:80%;
    height: 50vh;

    background-color:rgb(255,255,255,0);

    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    
    
}

.counter-main .display{
    width:18%;
    height: 30vh;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;

    

    margin:0 1%;
}

.counter-main p{
    font-size: 4rem;
}

.time-container{
    width: 100%;
    height: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.time-container.unit{
    background-color:#ECCCB2;
}

.counter-header{
    font-size:xx-large;
}

.about-container{
    width: 100%;
    height:90vh;
    position: absolute;
    top:190vh;
    

    background:url(./business-2846221_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-me{
    width:40%;
    height:90vh;
    background-color: var(--color2);
    text-align:center;
    position: absolute;
    right: 0;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.about-me p{
    width: 70%;
    position: relative;
    bottom: 10vh;
}

.contact-me{
    height:10vh;
    width: 60%;
    position: absolute;
    right: 0;
    bottom: 10vh;

    background:linear-gradient(to right,var(--color1) 50%,var(--color4));
    border-radius: 5px;

   

    


}
.contact-me p{
    width:80%;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    
}

/* here starts the slider part */
.projects-container{
    width: 100%;
    height:90vh;
    position: absolute;
    top:280vh;

    font-size: 2rem;

    
   
    
}
.projects{
    width: 100%;
    height: 100%;
    
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;

    

    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    transform: translateX(0%);
    z-index: -500;
    transition: all 1s ease-in-out;
}



.slider .content{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}

.discription-container{
    width:40%;
    height:100%;
    background-color: rgb(57, 62, 70,0.5);
    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 500;
}

.discription-container .title{
    width: 80%;
    text-align: center;
}

.discription-container .content{
    width: 80%;
    text-align: center;
}

.button-container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 600;
    
}

.button-container .btn{
    margin: 0 1%;
    z-index: 900;
}

.fa-solid{
    
    color:rgb(0, 173, 181,0.5);
    font-size: 100px;
    
}

/* here starts the footer part */

footer{
    position:absolute;
    top:370vh;
    
    height: 40vh;
    width: 100%;

    color: white;
    
}

.gradient-block{
    background:linear-gradient(to bottom, var(--color3) 5%, var(--color1) 80%);

    height: 30%;
    width: 100%;
    
}

.footer-container{
    background-color: var(--color1);

    height: 70%;
    width: 100%;

    display: flex;
    flex-direction: row;

}

.footer-logo{
    width:33%;
    height: 100%;
}

.footer-menu{
    width:34%;
    height: 100%;

    
}

.footer-menu p{
    height: auto;
    
    position: absolute;
    bottom: 5%;
    left:50%;
    transform: translateX(-50%);

}
.footer-menu i{
    font-size: 1rem;
    color: white;
}

.footermenu-content{
    width: 100%;
    height: 70%;  
    
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;

    padding: 0;
}

.footer-menu li{
    list-style-type: none;
    
}

.footer-menu a{
    color: white;
}



.footer-contacts{
    width:33%;
    height: 100%;


}

.SM-icons i{
    font-size: 2rem;
    color: white;
}

